<h1 class="home-h1">Angular MultiFunctional</h1>
<nav>
    <div class="app-tiles" ui-sref="stopwatch" ui-sref-active="active">
        <img src="static/clock.jpg" alt="timer">
        <p>Timer App</p>
    </div>
    <div class="app-tiles" ui-sref="weather" ui-sref-active="active">
        <img src="static/weather.png" alt="weather">
        <p>Weather App </p>
    </div>
    <div class="app-tiles" ui-sref="todo" ui-sref-active="active">
        <img src="static/todo.jpg" alt="todo">
        <p>ToDo App</p>
    </div>
</nav>